header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container  {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =============== CTA ============== */

.cta {
    margin: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =============== SOCIAL ============== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* =============== ME ============== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 12.5rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem;
}

.me img {
    position: absolute;
    left: 5rem;
    width: 60%;
}

/* =============== SCROLL DOWN ============== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px){
    .header__socials, .scroll__down {
        display: none;
    }

    header {
        height: 80vh;
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

@media screen and (max-width: 600px){
    header {
        height: 40rem;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        width: 12rem;
        height: 25rem;
        left: 3.5rem;
    }

    .me img {
        position: absolute;
        width: 55%;
        left: 3.5rem;
    }
}

@media screen and (max-width: 376px){
    header {
        height: 40rem;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        width: 12rem;
        height: 30rem;
        left: 2.5rem;
    }

    .me img {
        position: absolute;
        width: 55%;
        left: 3.5rem;
    }
}
